html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0
}
ul li {
  display: block;
  width: 30em;
  margin: 0 auto;
  margin-bottom: 0px;
  background-color: #ffffff;
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 1em;
  border: solid #666 1px;
}
ul li img {
	max-width: 100%;
}
.d3d-btn {
  padding: 0.5em;
  border: solid #333 1px;
  background-color: #eee;
  margin: 0.5em;
  text-decoration: none;
}
form.nft-3d-overlay {
  display: inline-block;
  width: 100%;
}
.nft-3d-overlay dl {
  margin: 0.5em 0em 0.25em 0.5em;
}
.nft-3d-overlay dl dd,
.nft-3d-overlay dl dt {
  display: inline-block;
  margin-left: 0.5em;
}
